Repository wlee88/the-movie-db: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
	"*.{ts,js,json,md,html,scss,css}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint --fix",
		"prettier --write",
		"git add"
	]
}

service and basic tests
  README.md
  package.json
  src/app/app.component.spec.ts
  src/app/contracts/index.ts
  src/app/contracts/movies.ts
  src/app/services/movies.service.spec.ts
  src/app/services/movies.service.ts
  src/app/services/test-data.ts
  src/app/utils/index.ts
  src/app/utils/object-to-query-param/index.ts
  src/app/utils/object-to-query-param/object-to-query-param.spec.ts
  src/app/utils/object-to-query-param/object-to-query-param.ts
  src/app/utils/random-number/index.ts
  src/app/utils/random-number/random-number.ts
  tslint.json
Due: prettier --write, tslint --fix

added test builders
  src/app/services/movies.service.spec.ts
  src/app/services/movies.service.ts
  src/app/services/test-data.ts
  src/app/testing/abstract-builder.ts
  src/app/testing/builders/movie-list-response.builder.ts
  src/app/testing/builders/movie.builder.ts
Due: prettier --write, tslint --fix

page structure
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/components/movie-item/movie-item.component.html
  src/app/components/movie-item/movie-item.component.scss
  src/app/components/movie-item/movie-item.component.spec.ts
  src/app/components/movie-item/movie-item.component.ts
  src/app/components/search-bar/search-bar.component.html
  src/app/components/search-bar/search-bar.component.scss
  src/app/components/search-bar/search-bar.component.spec.ts
  src/app/components/search-bar/search-bar.component.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.scss
  src/app/pages/movie-detail/movie-detail.component.spec.ts
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/not-found/not-found.component.html
  src/app/pages/not-found/not-found.component.scss
  src/app/pages/not-found/not-found.component.spec.ts
  src/app/pages/not-found/not-found.component.ts
  src/app/pages/popular-movies/popular-movies.component.html
  src/app/pages/popular-movies/popular-movies.component.scss
  src/app/pages/popular-movies/popular-movies.component.spec.ts
  src/app/pages/popular-movies/popular-movies.component.ts
  src/app/testing/abstract-builder.ts
  src/assets/most-popular-page-header.jpg
  src/styles.scss
  tslint.json
Due: prettier --write, tslint --fix

added badge component
  README.md
  angular.json
  package.json
  src/app/app.module.ts
  src/app/components/badge/badge.component.html
  src/app/components/badge/badge.component.scss
  src/app/components/badge/badge.component.spec.ts
  src/app/components/badge/badge.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/movie-item/movie-item.component.html
  src/app/components/movie-item/movie-item.component.scss
  src/app/components/movie-item/movie-item.component.ts
  src/app/components/search-bar/search-bar.component.html
  src/app/components/search-bar/search-bar.component.scss
  src/app/components/search-bar/search-bar.component.ts
  src/app/contracts/search-bar-form.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/popular-movies/popular-movies.component.html
  src/app/pages/popular-movies/popular-movies.component.scss
  src/app/pages/popular-movies/popular-movies.component.ts
  src/app/scss/_colors.scss
  src/app/scss/_typography.scss
  src/app/services/movies.service.ts
  src/assets/search-icon.svg
  src/assets/the-movie-db-icon.svg
  src/styles.scss
Due: prettier --write, tslint --fix

movie-detail page
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/badge/badge.component.html
  src/app/components/badge/badge.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.ts
  src/app/components/movie-item/movie-item.component.html
  src/app/components/movie-item/movie-item.component.scss
  src/app/components/movie-item/movie-item.component.ts
  src/app/components/search-bar/search-bar.component.html
  src/app/contracts/movies.ts
  src/app/contracts/time.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.scss
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/popular-movies/popular-movies.component.html
  src/app/pipes/duration-to-hours/duration-to-hours.pipe.spec.ts
  src/app/pipes/duration-to-hours/duration-to-hours.pipe.ts
  src/app/pipes/score-as-percentage/score-as-percentage.pipe.spec.ts
  src/app/pipes/score-as-percentage/score-as-percentage.pipe.ts
  src/app/scss/_colors.scss
  src/app/services/movies.service.spec.ts
  src/app/utils/resolve-full-image-path/resolve-full-image-path.ts
  src/styles.scss
Due: prettier --write, tslint --fix

added search and initial search
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/search-bar/search-bar.component.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.scss
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/popular-movies/popular-movies.component.html
  src/app/pages/popular-movies/popular-movies.component.ts
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
  src/app/services/store/store.service.spec.ts
  src/app/services/store/store.service.ts
  src/styles.scss
Due: prettier --write, tslint --fix

slight tidy up of scss vars
  src/app/app.module.ts
  src/app/components/badge/badge.component.scss
  src/app/components/header-overlay/header-overlay.component.html
  src/app/components/header-overlay/header-overlay.component.scss
  src/app/components/header-overlay/header-overlay.component.spec.ts
  src/app/components/header-overlay/header-overlay.component.ts
  src/app/components/loading/loading.component.html
  src/app/components/loading/loading.component.scss
  src/app/components/loading/loading.component.ts
  src/app/components/movie-item/movie-item.component.html
  src/app/components/movie-item/movie-item.component.scss
  src/app/components/search-bar/search-bar.component.html
  src/app/components/search-bar/search-bar.component.scss
  src/app/components/search-bar/search-bar.component.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.scss
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/not-found/not-found.component.html
  src/app/pages/not-found/not-found.component.scss
  src/app/pages/popular-movies/popular-movies.component.html
  src/app/pages/popular-movies/popular-movies.component.ts
  src/app/scss/_colors.scss
  src/app/scss/_variables.scss
  src/styles.scss
Due: prettier --write, tslint --fix

movie general clean up of components and scss
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/header-overlay/header-overlay.component.scss
  src/app/components/movie-item/movie-item.component.scss
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/movies/movies.component.html
  src/app/pages/movies/movies.component.scss
  src/app/pages/movies/movies.component.spec.ts
  src/app/pages/movies/movies.component.ts
  src/app/pages/popular-movies/popular-movies.component.scss
  src/app/services/index.ts
  src/app/services/movies/movies.service.spec.ts
  src/app/services/store/store.service.ts
Due: prettier --write, tslint --fix

build environment file
  .gitignore
  README.md
  generate-environment-file.ts
  package.json
  src/app/services/configuration/configuration.service.ts
  src/app/services/movies/movies.service.ts
  src/app/utils/resolve-full-image-path/resolve-full-image-path.ts
  src/environments/.gitkeep
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

fix production var in main.ts
  README.md
  generate-environment-file.ts
  package.json
  src/app/app.module.ts
  src/app/components/loading/loading.component.html
  src/app/components/loading/loading.component.scss
  src/app/components/loading/loading.component.ts
  src/app/interceptors/authentication.interceptor.ts
  src/app/services/movies/movies.service.ts
  src/main.ts
Due: prettier --write, tslint --fix

correct .env instructiosn in README
  README.md
Due: prettier --write

add responsive images
  README.md
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/loading/loading.component.scss
  src/app/components/movie-item/movie-item.component.html
  src/app/components/movie-item/movie-item.component.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/movies/movies.component.html
  src/app/services/movies/movies.service.ts
  src/app/utils/resolve-full-image-path/resolve-full-image-path.ts
  src/styles.scss
Due: prettier --write, tslint --fix

fix selection css and user score casing
  src/app/pages/movie-detail/movie-detail.component.html
  src/styles.scss
Due: prettier --write

small refactors and cleanup of resolve-full-image-path
  src/app/components/movie-item/movie-item.component.ts
  src/app/components/search-bar/search-bar.component.html
  src/app/components/search-bar/search-bar.component.scss
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/utils/resolve-full-image-path/resolve-full-image-path.ts
Due: prettier --write, tslint --fix

added test cases to pages
  README.md
  src/app/components/badge/badge.component.spec.ts
  src/app/components/header-overlay/header-overlay.component.spec.ts
  src/app/components/movie-item/movie-item.component.spec.ts
  src/app/components/search-bar/search-bar.component.spec.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.spec.ts
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/movies/movies.component.html
  src/app/pages/movies/movies.component.scss
  src/app/pages/movies/movies.component.spec.ts
  src/app/pages/movies/movies.component.ts
  src/app/pages/not-found/not-found.component.html
  src/app/pages/not-found/not-found.component.spec.ts
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
  src/app/services/store/store.service.spec.ts
  src/app/testing/builders/movie.builder.ts
  tsconfig.json
Due: prettier --write, tslint --fix

moved dotenv to devDependencies
  README.md
  package.json
Due: prettier --write

updated README and service
  README.md
  src/app/services/movies/movies.service.ts
  src/assets/the-movie-db-page-header.jpg
Due: prettier --write, tslint --fix

added theme and favicon
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/browserconfig.xml
  src/favicon.ico
  src/index.html
  src/mstile-150x150.png
  src/safari-pinned-tab.svg
  src/site.webmanifest
Due: prettier --write

fix page header rename and update README
  README.md
  src/app/components/header-overlay/header-overlay.component.scss
  src/assets/search-icon.svg
Due: prettier --write

improved read me and tidied assets
  README.md
  src/app/components/header-overlay/header-overlay.component.html
  src/app/components/header-overlay/header-overlay.component.scss
  src/app/pages/movies/movies.component.scss
  src/assets/icons/android-chrome-192x192.png
  src/assets/icons/android-chrome-512x512.png
  src/assets/icons/apple-touch-icon.png
  src/assets/icons/favicon.ico
  src/assets/icons/mstile-150x150.png
  src/assets/icons/safari-pinned-tab.svg
  src/assets/icons/the-movie-db-icon.svg
  src/assets/images/the-movie-db-page-header.jpg
  src/index.html
  src/styles.scss
Due: prettier --write

improved README
  README.md
Due: prettier --write

updated readme, circleci config
  .circleci/config.yml
  .gitignore
  README.md
  yarn.lock
Due: prettier --write

fix: linting
  jest.config.js
  package.json
  src/polyfills.ts
Due: prettier --write, tslint --fix

fix: README url update and circle workspace fix
  .circleci/config.yml
  README.md
Due: prettier --write

fix deployment step in .circleci
  .circleci/config.yml
Due: none

add recurisive flag to aws cp and fix copy
  .circleci/config.yml
Due: none

fix: loader positioning
  src/app/components/loading/loading.component.html
  src/app/components/loading/loading.component.scss
Due: prettier --write

fix: update readme
  README.md
Due: prettier --write

fix: README - time constraints text
  README.md
Due: prettier --write

feat: scroll to search bar when tapped
  README.md
  src/app/pages/movies/movies.component.html
  src/app/pages/movies/movies.component.ts
Due: prettier --write, tslint --fix

updated README with images
  README.md
Due: prettier --write

fix: mobile display issues and full screen loader
  README.md
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.scss
  src/app/pages/movies/movies.component.html
  src/styles.scss
Due: prettier --write

fix: readme and headings font-size on mobile devices
  README.md
  src/styles.scss
Due: prettier --write

fix: readme and linting
  README.md
  src/app/pages/movies/movies.component.ts
Due: prettier --write, tslint --fix

fix: loading overlay and code cleanup
  src/app/components/loading/loading.component.scss
  src/app/components/movie-item/movie-item.component.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/movies/movies.component.html
  src/app/pages/movies/movies.component.ts
  src/app/utils/resolve-full-image-path/resolve-full-image-path.ts
Due: prettier --write, tslint --fix

imports/code cleanup
  README.md
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/badge/badge.component.ts
  src/app/components/movie-item/movie-item.component.ts
  src/app/components/search-bar/search-bar.component.ts
  src/app/interceptors/authentication.interceptor.ts
  src/app/pages/movie-detail/movie-detail.component.html
  src/app/pages/movie-detail/movie-detail.component.spec.ts
  src/app/pages/movie-detail/movie-detail.component.ts
  src/app/pages/movies/movies.component.spec.ts
  src/app/pages/movies/movies.component.ts
  src/app/pages/not-found/not-found.component.ts
  src/app/pipes/duration-to-hours/duration-to-hours.pipe.ts
  src/app/pipes/score-as-percentage/score-as-percentage.pipe.ts
  src/app/services/configuration/configuration.service.ts
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
  src/app/services/store/store.service.spec.ts
  src/app/testing/builders/movie-list-response.builder.ts
  src/app/testing/builders/movie.builder.ts
  src/app/utils/index.ts
  src/app/utils/resolve-full-image-path/index.ts
  src/app/utils/resolve-full-image-path/resolve-full-image-path.ts
Due: prettier --write, tslint --fix

fix: update README, added infinite scroll
  README.md
  src/app/components/header-overlay/header-overlay.component.html
  src/app/components/header-overlay/header-overlay.component.scss
  src/app/pages/movies/movies.component.html
  src/app/pages/movies/movies.component.spec.ts
  src/app/pages/movies/movies.component.ts
  src/index.html
  src/site.webmanifest
Due: prettier --write, tslint --fix

fix: added another suggestion to improvements on readme
  README.md
Due: prettier --write

feat: code cleanup and added pagination
  README.md
  src/app/pages/movies/movies.component.html
  src/app/pages/movies/movies.component.scss
  src/app/pages/movies/movies.component.spec.ts
  src/app/pages/movies/movies.component.ts
Due: prettier --write, tslint --fix

fix: page number resetting fix and update to readme
  README.md
  src/app/pages/movies/movies.component.ts
Due: prettier --write, tslint --fix
